<!DOCTYPE html>
<html>
  <head>
    <link href="base.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <label for="id-input">IP of server to access:</label>
    <input placeholder="Target IP" id="ip-input" />
    <label for="id-input">Target port:</label>
    <input placeholder="Target port" id="port-input" type="number" />
    <button id="send-ip">Update IP</button>
    <button id="reset-ip">Use local IP (Reset IP)</button>
    <script src="../static/client-ip-static.js" type="module"></script>
  </body>
</html>