<!DOCTYPE html>
<html>
  <head>
    <link href="base.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <button id="refresh-button">
      Refresh Players
    </button>
    <div>Select the player the command will affect (shows all online players):</div>
    <select id="player-select">
    </select>
    <input type="text" placeholder="Type command here" id="command-input" />
    <button id="command-button">RUN COMMAND</button>
    <script>var exports = {};</script>
    <script src="../static/common-static.js" type="module"></script>
    <script src="../static/commands-static.js" type="module"></script>
  </body>
</html>