<!DOCTYPE html>
<html>
  <head>
    <link href="base.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="mods.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <div>
      Pick which mods to use!
      <br>
      <a href="https://waddleforever.com/mods">Click here to know more about mods</a>
      <br>
      <button id="open-mods-folder">Open Mods Folder</button>
      <button id="update-mods" title="Refresh the list of mods">Refresh Mods</button>
    </div>
    <div class="mods">
    </div>
    <script src="../static/common-static.js" type="module"></script>
    <script src="../static/mods-static.js" type="module"></script>
  </body>
</html>