<!DOCTYPE html>
<html>
  <head>
    <link href="base.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="multiplayer.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>

    <div class="radio-container">
      <div>
        Choose:
      </div>
      <div>
        <input type="radio" id="local" name="type" />
        <label for="local">Local (Singleplayer Only)</label>
      </div>

      <div>
        <input type="radio" id="guest" name="type" />
        <label for="guest">Guest (Join Another Server)</label>
      </div>

      <div>
        <input type="radio" id="host" name="type" />
        <label for="host">Host (Invite Other People)</label>
      </div>
    </div>
    <div id="info-input" style="visibility: hidden;">
      <label for="ip-input">IP:</label>
      <input placeholder="IP" type="text" id="ip-input" />
      <label for="port-input">Port (LEAVE BLANK unless rerouting the port):</label>
      <input placeholder="Port" id="port-input" type="number" />
      <button id="send">Update</button>
    </div>
    <script src="../static/multiplayer-static.js" type="module"></script>
  </body>
</html>