body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(circle, #0280cd 20%, #027bc8 47%, #00529b 90%);
  background-size: 100% 100%;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.progress-container {
  width: 65%;
  border: 3px solid #0050789c;
  padding: 4px;
  margin: 5px 0 10px 0;
  overflow: hidden;
}

.progress-bar {
  height: 18px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.5s;
}