<!DOCTYPE html>
<html>
  <head>
    <link href="settings.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <div>
      Settings
    </div>
    <div>
      You may need to clear cache and/or reload depending on what you change
    </div>
    <div class="settings">
      <div>30 FPS</div>
      <input type="checkbox" class="js-fps-input" />
      <div>
        Thin Ice IGT
      </div>
      <input type="checkbox" class="js-thin-ice-igt-input" />
    </div>
    <script src="../static/settings-static.js"></script>
  </body>
</html>