<!DOCTYPE html>
<html>
  <head>
    <link href="settings.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <div>
      Settings
    </div>
    <div>
      The game will automatically clear cache or reload the game if needed.
    </div>
    <div class="settings">
      <div>30 FPS</div>
      <input type="checkbox" class="js-fps-input" />
      <div>
        Thin Ice IGT
      </div>
      <input type="checkbox" class="js-thin-ice-igt-input" />
      <div>Clothing</div>
      <input type="checkbox" class="js-clothing-input" />
      <div>2013 My Puffle</div>
      <input type="checkbox" class="js-my-puffle-input" />
    </div>
    <script src="../static/settings-static.js"></script>
  </body>
</html>