body {
  background-color: #005bbb;
  color: white;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  user-select: none;
}

body > * {
  text-align: center;
}

.settings {
  grid-template-columns: 1fr 1fr;
  display: grid;
  row-gap: 4px;
  margin: 10px 0;
}

.settings-header {
  font-weight: bolder;
}

input[type="checkbox"] {
  cursor: pointer;
}