:root {
  --selected: #08549c;
  /* Basic unit of measurement that makes up the calendar */
  --cell-width: 5em;

  /* Height that the version picker should occupy above */
  --version-pick-h: 8em;
}

.version-description {
  margin-bottom: 20px;
}

#timeline {
  padding: 1em;
}

.timeline-row {
  display: grid;
  grid-template-columns: 8em 10em 1fr;
  cursor: pointer;
  padding: 1em;
  border-radius: 1em;
}

.selected-day {
  background-color: var(--selected);
  color: white;
}

.timeline-row:hover {
  background-color: #73c7f6;
  color: black;
}

.selected-day:hover  {
  background-color: var(--selected);
  color: white;
  cursor: default;
}

.date-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding-left: 5em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.version-picker {
  position: sticky;
  top: 0;
  background-color: var(--background);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* needs to be this variable so the calendar can be properly sticky too */
  height: var(--version-pick-h);
}

body {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

td {
  background-color: white;
  color: black;
  width: var(--cell-width);
  height: var(--cell-width);
  border: 1px solid black;
  vertical-align: top;
  padding: 0.4em;
}

thead th {
  position: sticky;
  top: var(--version-pick-h);
  color: black;
  background-color: white;
}

.calendar {
  background-color: white;
}

.left-edge {
  border-left: 2px solid black;
}

.right-edge {
  border-right: 2px solid black;
}

.bottom-edge {
  border-bottom: 2px solid black;
}

.top-edge {
  border-top: 2px solid black;
}

.month-name {
  font-weight: bold;
  font-size: xx-large;
  padding: 0.4em;
}

.clickable {
  font-weight: bolder;
}

.non-day {
  background-color: rgba(229, 229, 229, 1);
}
