<!DOCTYPE html>
<html>
  <head>
    <link href="timeline.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="base.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <div class="version-description">
      Pick which version to use!
    </div>
    <div>
      <label for="year">Year:</label>
      <select id="year">
        <option>2005</option>
        <option>2006</option>
        <option selected="selected">2010</option>
        <option>2016</option>
      </select>
    </div>
    <div id="timeline">
    </div>
    <script src="../static/common-static.js" type="module"></script>
    <script src="../static/timeline-static.js" type="module"></script>
  </body>
</html>