<!DOCTYPE html>
<html>
  <head>
    <link href="../base.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="commandslist.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <p style="text-align: center">This is a list of all available commands to use in-game. Text surrounded by [brackets] in the command name indicates a parameter that can be given after the command name.</p>

    <div id="commands-list"></div>

    <script>var exports = {};</script>
    <script src="commandslist-static.js" type="module"></script>
  </body>
</html>